<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>KeepAlive</key>
    <false/>
    <key>Label</key>
    <string>WatchVPN_proc</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/aas358/watchvpn_proc</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>StartInterval</key>
    <integer>15</integer>
    <key>StandardErrorPath</key>
    <string>/Users/aas358/stderr.log</string>
    <key>StandardOutPath</key>
    <string>/Users/aas358/stdout.log</string>
</dict>
</plist>
